entrypoint = "webui.py" # Keep entrypoint simple
run = ["python", "webui.py", "--ip", "0.0.0.0", "--port", "8080"]
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "gitFull", "playwright-driver"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run Web-UI"
mode = "sequential"
author = 36173693

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python webui.py --ip 0.0.0.0 --port 8080"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WebUI"

[[workflows.workflow]]
name = "WebUI"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python webui.py --ip 0.0.0.0 --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
